@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Reset */


body{
    background-color: #fafafa;
    background-image: url(images/bg-pattern-desktop.svg);
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "brand jumbo"
                         "content jumbo";
    /* grid-gap: 200px; */
}

.brand{
    grid-area: brand;
    width: 60%;
    margin: auto;
    margin-top: 60px;
}

.jumbo{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/hero-desktop.jpg);
    grid-area: jumbo;
    max-width: 100%;
    height: auto;
}
.content{
    padding: 13% 0 20.3% 0;
    margin:auto;
    width: 60%;
    grid-area: content;
}

.thiny{
    letter-spacing: 15px;
    font-size: 50px;
    font-weight: 300;
    color:hsl(0, 36%, 70%);
}

.bold{
    letter-spacing: 20px;
    font-size: 50px;
    font-weight: 400;
    color:#333;
    margin-bottom: 20px;
}

.detail{
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 45px;
    line-height: 1.4;
    color:hsl(0, 43%, 75%);
}

form{
    display: flex;
    flex-direction: row;
}

.input{
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 43%, 75%);
    width: 80%;
    padding:20px 30px ;
    border-radius: 50px;
    border: 1px solid hsl(0, 43%, 75%);
}

.button{
    display: flex;
    border: none;
    margin-left: -60px;
    /* height:px; */
    width:20%;
    border-radius: 50px;
    padding: 12px 50px 12px 45px;
    background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 15px 34px -2px hsl(0, 51%, 83%);
    transition: 0.3s;
}

.button:hover{
    background-image: linear-gradient( 135deg, hsl(0, 59%, 89%), hsl(0, 80%, 86%));
    /* transition: 2s; */
    box-shadow: 0 15px 24px -2px hsl(0, 61%, 81%);
}

button img{
    /* color: #33 */
    /* margin: 93px; */
    text-align: center;
}

#val{
    padding: 15px 10px 10px 33px;
    color: hsl(0, 79%, 68%);
    display: none;
}

ion-icon{
    padding-top: 10px ;
    margin: 0 80px 0 -100px ;
    display: none;
    font-size: 40px;
    border-radius: 100%;
    color: hsl(0, 86%, 66%);
    text-align: center;
}


@media only screen and (max-width: 400px){

    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 0.2fr 0.4fr 1fr;
        grid-template-areas: "brand"
                             "jumbo"
                             "content";
    }

    .jumbo{
        background-image: url(images/hero-mobile.jpg);
    }

    .brand{
        grid-area: brand;
        width: 80%;
        margin: auto;
    }
    
    .content{
        /* padding: 15% 0 12.2% 0; */
        width: 80%;
    }


    .thiny{
        text-align: center;
        letter-spacing: 15px;
        font-size: 40px;
        font-weight: 300;
        color:hsl(0, 36%, 70%);
    }
    
    .bold{
        text-align: center;
        letter-spacing: 20px;
        font-size: 40px;
        font-weight: 400;
        color:#333;
        margin-bottom: 30px;
    }
    
    .detail{
        text-align: center;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 1.4;
        color:hsl(0, 43%, 75%);
    }

    .input{
        font-size: 16px;
        font-weight: 400;
        color: hsl(0, 43%, 75%);
        width: 80%;
        padding:18px 30px ;
        border-radius: 50px;
        border: 1px solid hsl(0, 43%, 75%);
    }
    
    .button{
        border: none;
        margin-left: -50px;
        /* height:px; */
        width:20%;
        border-radius: 50px;
        padding: 12px 50px 12px 45px;
        background-image: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        box-shadow: 0 15px 34px -2px hsl(0, 51%, 83%);
        transition: 0.3s;
    }

}